.About {
  align-items: center;
  padding: 6rem 0;
  flex-direction: column;
  display: flex;
  background-color: rgb(223, 217, 217);
}
.About h1 {
  color: rgb(10, 10, 10);
  display: block;
  font-size: 2em;
  font-weight: bold;
  font-style: italic;
  border-bottom: 3px solid rgb(34, 34, 34);
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.about-contact-box-wraper {
  margin: 3%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.about-contact-box-wraper02 {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.about-contact-box {
  width: 45%;
  /* height: 300px; */
  margin: 0 auto;
  background: white;
  border: 4px;
}
.about-info-box {
  margin-top: 10%;
  align-items: center;
  /* padding: 3rem 0; */
  flex-direction: column;
  display: flex;
  height: 30vh;
}
.photo {
  opacity: 0.93;
  padding: 1rem;
  display: flex;
  align-items: center;
}
.photo-inner {
  margin: 0;
}
